<div layout="row" layout-align="center center">
    <md-content>
        <md-card id="signInCard">
            <md-card-content>
                <h2 class="md-title">Sign In</h2>
                <div layout="column">
                    <md-input-container>
                        <label for="signInEmail">Email</label>
                        <input id="signInEmail" type="email" ng-model="vm.email" />
                    </md-input-container>
                    <md-input-container>
                        <label for="signInPassword">Password</label>
                        <input id="signInPassword" type="password" ng-model="vm.password" />
                    </md-input-container>
                </div>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="center center">
                <md-button>Sign In</md-button>
                <md-button>Register</md-button>
            </div>
        </md-card>
    </md-content>
</div>